body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ComponentsAndProps {
  padding: 20px;
  background-color: aliceblue;
}

.StateAndLifecylce {
  padding: 20px;
  background-color: aquamarine;
}

.HandlingEvents {
  padding: 20px;
  background-color: bisque;
}

.ConditionalRendering {
  padding: 20px;
  background-color: steelblue;
}

.ListsAndKeys {
  text-align: left;
  padding: 20px;
  background-color: sandybrown;
}

.Forms {
  padding: 20px;
  background-color: turquoise;
}

.Forms textarea {
  width: 400px;
  height: 100px;
  padding: 10px;
}

.LiftingStateUp {
  padding: 20px;
  background-color: blanchedalmond;
}